
<div class="bg-gray-900 p-6 flex justify-content-center md:justify-content-end bg-no-repeat bg-cover md:bg-contain" style="background-image: url('assets/demo/images/landing/cta-2.png');">
    <div class="px-5">
        <div class="text-white font-bold text-6xl">Explore Our Story</div>
        <div class="text-blue-200 font-bold text-5xl">17+ Years of E-learning Legacy!</div>
        <div class="mt-3 mb-5 text-gray-200 font-medium line-height-3"> Providing comprehensive online learning solutions</div>
        <button pbutton="" pripple="" label="Get to Know Us" class="p-element p-ripple font-bold px-5 py-3 p-button p-component bg-yellow" (click)="scrollToAnchor('team', 100)">
            <span class="p-button-label">Get to Know Us</span>
            <span class="p-ink"></span>
        </button>
    </div>
</div>

<div class="surface-section-1 py-6 text-center">
    <div class="grid text-800  lg:px-8">
        <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
            <section>
                <div class="mb-3 font-bold text-4xl">
                    <span class="text-900">Our Blueprint for Success </span>
                </div>
                <div class="text-600 text-xl mt-3 mb-5 line-height-3 custom-blue-color text-justify">
                    LCT promises <span class="txt-yellow">'Customer Satisfaction and Value Creation'</span> through the culture of continuous learning and adherence to the highest standards of delivering innovative learning solutions, always!
                </div>
            </section>
        </div>
        <div class="col-12 md:col-6 overflow-hidden">
            <div class="flex flex-row gap-0 align-items-center lg:gap-4">
                <div class="mission-custom-box">
                    <div class="p-3 text-center bg-gray-1" style="border-radius: 12px;">
                        <div class="flex flex-column custom-box align-items-start">
                            <div class="small-box">
                                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="PenNibStraight">
                                    <path id="Vector" opacity="0" d="M26.4242 16.0861L23.0009 9.15735H9.0009L5.57756 16.0862C5.49633 16.2506 5.46189 16.4342 5.47798 16.6169C5.49407 16.7996 5.56009 16.9743 5.66881 17.122L16.0009 31.1573L26.3329 17.1219C26.4417 16.9743 26.5077 16.7995 26.5238 16.6168C26.5399 16.4341 26.5054 16.2505 26.4242 16.0861ZM16.0009 19.1573C15.5064 19.1573 15.0231 19.0107 14.612 18.736C14.2009 18.4613 13.8804 18.0709 13.6912 17.6141C13.502 17.1572 13.4525 16.6546 13.5489 16.1696C13.6454 15.6847 13.8835 15.2392 14.2331 14.8896C14.5828 14.54 15.0282 14.3018 15.5132 14.2054C15.9981 14.1089 16.5008 14.1584 16.9576 14.3477C17.4144 14.5369 17.8049 14.8573 18.0796 15.2684C18.3543 15.6795 18.5009 16.1629 18.5009 16.6573C18.5009 16.9857 18.4362 17.3107 18.3106 17.6141C18.185 17.9174 18.0008 18.193 17.7687 18.4251C17.5365 18.6573 17.2609 18.8414 16.9576 18.9671C16.6543 19.0927 16.3292 19.1574 16.0009 19.1573Z" fill="#15836F"/>
                                    <path id="Vector_2" d="M16.0005 19.1573L16.0005 31.1573" stroke="#15836F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path id="Vector_3" d="M16.0005 19.1573C17.3812 19.1573 18.5005 18.0381 18.5005 16.6573C18.5005 15.2766 17.3812 14.1573 16.0005 14.1573C14.6198 14.1573 13.5005 15.2766 13.5005 16.6573C13.5005 18.0381 14.6198 19.1573 16.0005 19.1573Z" stroke="#15836F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path id="Vector_4" d="M9.00049 9.15735V4.15735C9.00049 3.89213 9.10585 3.63778 9.29338 3.45024C9.48092 3.26271 9.73527 3.15735 10.0005 3.15735H22.0005C22.2657 3.15735 22.5201 3.26271 22.7076 3.45024C22.8951 3.63778 23.0005 3.89213 23.0005 4.15735V9.15735" stroke="#15836F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path id="Vector_5" d="M9.0009 9.15735L5.57758 16.0862C5.49634 16.2506 5.46189 16.4342 5.47798 16.6169C5.49407 16.7996 5.56008 16.9743 5.6688 17.122L16.0009 31.1573L26.333 17.1219C26.4417 16.9742 26.5077 16.7995 26.5238 16.6168C26.5399 16.4341 26.5054 16.2506 26.4242 16.0861L23.0009 9.15735H9.0009Z" stroke="#15836F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    </svg>
                                    
                            </div>
                            
                            <div class="flex flex-column align-items-start gap-2" style="width: 220px;">
                                <span class="box-text">Mission</span>
                                <span class="box-sub-text-2 text-left line-height-3">Deliver engaging learning solutions globally by complying to the highest industry standards.</span>
                            </div>   
                        </div>
                    </div>
                    <div class="p-3 text-center bg-gray-1" style="border-radius: 12px;">
                        <div class="flex flex-column custom-box align-items-start">
                            <div class="small-box">
                                <i class="pi pi-shield" style="font-size: 2rem; color:#15836F;"></i>
                            </div>
                            
                            <div class="flex flex-column align-items-start gap-2" style="width: 220px;">
                                <span class="box-text">Core Values</span>
                                <span class="box-sub-text-2 text-left line-height-3">We strongly believe in and practice <span class="cursor-pointer text-blue-600 text-lg" (click)="doRightPopup = true;">DO-RITE</span>.</span>
                            </div>    
                        </div>
                    </div>
                    <div class="p-3 text-center bg-gray-1 flex lg:hidden" style="border-radius: 12px;">
                        <div class="flex flex-column custom-box align-items-start">
                            <div class="small-box">
                                    <i class="pi pi-eye" style="font-size: 2rem; color:#15836F;"></i>
                            </div>
                            
                            <div class="flex flex-column align-items-start gap-2" style="width: 220px;">
                                <span class="box-text">Vision</span>
                                <span class="box-sub-text-2 text-left line-height-3">Make learning an easier and enjoyable experience for everyone, everywhere by blending human creativity with technical innovations.</span>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="mission-custom-box-2 hidden lg:flex">
                    <div class="p-3 text-center bg-gray-2" style="border-radius: 12px;">
                        <div class="flex flex-column custom-box align-items-start">
                            <div class="small-box">
                                    <i class="pi pi-eye" style="font-size: 2rem; color:#15836F;"></i>
                            </div>
                            
                            <div class="flex flex-column align-items-start gap-2" style="width: 220px;">
                                <span class="box-text">Vision</span>
                                <span class="box-sub-text-2 text-left line-height-3">Make learning an easier and enjoyable experience for everyone, everywhere, by blending human creativity with technical innovations.</span>
                            </div>    
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="surface-section px-4 py-3 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-4xl">
        <span class="text-900">Our Process </span>
    </div>
    <div class="text-600 text-xl mt-3 mb-5 line-height-3 custom-blue-color">We are dedicated to delivering superior quality consistently, ensuring maximum satisfaction for our customers.</div>
    <div class="grid mt-3">
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="p-3 text-center" style="border-radius: 12px;">
                
                <div class="flex flex-column custom-box-t">
                    <div class="small-box hidden md:flex">
                        <svg class="custom-zoom" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Briefcase">
                            <path id="Vector" opacity="0.2" d="M28.7424 33.25C21.3701 33.2616 14.1258 31.3235 7.74414 27.6322V45.5C7.74414 45.7299 7.7894 45.9574 7.87735 46.1697C7.96529 46.3821 8.0942 46.575 8.2567 46.7375C8.4192 46.9 8.61212 47.0289 8.82444 47.1168C9.03676 47.2048 9.26433 47.25 9.49414 47.25H47.9941C48.224 47.25 48.4515 47.2048 48.6638 47.1168C48.8762 47.0289 49.0691 46.9 49.2316 46.7375C49.3941 46.575 49.523 46.3821 49.6109 46.1697C49.6989 45.9574 49.7441 45.7299 49.7441 45.5V27.6302C43.3617 31.3228 36.1161 33.2616 28.7424 33.25V33.25Z" fill="#15836F"/>
                            <path id="Vector_2" d="M47.9941 15.7501H9.49414C8.52764 15.7501 7.74414 16.5336 7.74414 17.5001V45.5001C7.74414 46.4666 8.52764 47.2501 9.49414 47.2501H47.9941C48.9606 47.2501 49.7441 46.4666 49.7441 45.5001V17.5001C49.7441 16.5336 48.9606 15.7501 47.9941 15.7501Z" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_3" d="M37.4922 15.7501V12.2501C37.4922 11.3218 37.1234 10.4316 36.4671 9.77519C35.8107 9.11881 34.9204 8.75006 33.9922 8.75006H23.4922C22.5639 8.75006 21.6737 9.11881 21.0173 9.77519C20.3609 10.4316 19.9922 11.3218 19.9922 12.2501V15.7501" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_4" d="M49.7435 27.6302C43.361 31.3228 36.1154 33.2617 28.7417 33.2501C21.3693 33.2617 14.1249 31.3235 7.74316 27.6321" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_5" d="M26.1167 26.2501H31.3667" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                    </div>
                    <span class="box-header-1">1. Requirement Analysis</span>
                    <span class="box-header-2 text-justify">We attentively listen to your needs and comprehend your expectations and challenges, based on which we thoroughly research your industry and audience to come up with a solid solution for your project.</span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="p-3 text-center" style="border-radius: 12px;">
                <div class="flex flex-column custom-box-t">
                    <div class="small-box hidden md:flex">
                        <!-- <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Stack">
                            <path id="Vector" opacity="0.2" d="M5.38672 13.3799L20.3867 22.1299L35.3867 13.3799L20.3867 4.62988L5.38672 13.3799Z" fill="white"/>
                            <path id="Vector_2" d="M5.38672 28.3799L20.3867 37.1299L35.3867 28.3799" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_3" d="M5.38672 20.8799L20.3867 29.6299L35.3867 20.8799" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_4" d="M5.38672 13.3799L20.3867 22.1299L35.3867 13.3799L20.3867 4.62988L5.38672 13.3799Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            </svg>                      -->
                            <svg class="custom-zoom-2" xmlns="http://www.w3.org/2000/svg" width="60" height="61" viewBox="0 0 60 61" fill="none">
                                <path d="M52.5 48.7969H7.5V11.2969" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M52.5005 22.5469L37.5005 35.6719L22.5005 24.4219L7.50049 37.5469" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                         
                    </div>
                    <span class="box-header-1">2. Design</span>
                    <span class="box-header-2 text-justify">We plan and transform your objectives into a visual framework, creating detailed high - level designs and prototypes that provide insights to the proposed seamless learning experience.</span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="p-3 text-center" style="border-radius: 12px;">
                <div class="flex flex-column custom-box-t">
                    <div class="small-box hidden md:flex"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
                            <path d="M18.9531 25.8799C20.679 25.8799 22.0781 24.4808 22.0781 22.7549C22.0781 21.029 20.679 19.6299 18.9531 19.6299C17.2272 19.6299 15.8281 21.029 15.8281 22.7549C15.8281 24.4808 17.2272 25.8799 18.9531 25.8799Z" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.8291 35.8804L16.7435 24.9646" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.8291 35.8804L27.6175 32.249C27.8339 32.213 28.0369 32.1206 28.2063 31.9812C28.3757 31.8418 28.5054 31.6603 28.5824 31.4549L32.0791 22.1304L19.5791 9.63043L10.2546 13.1271C10.0492 13.2042 9.8677 13.3339 9.72832 13.5032C9.58893 13.6726 9.49656 13.8757 9.4605 14.092L5.8291 35.8804Z" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M32.0791 22.1304L36.1952 18.0143C36.3113 17.8982 36.4034 17.7604 36.4662 17.6088C36.529 17.4571 36.5613 17.2946 36.5613 17.1304C36.5613 16.9663 36.529 16.8037 36.4662 16.6521C36.4034 16.5004 36.3113 16.3626 36.1952 16.2465L25.463 5.51431C25.2286 5.27989 24.9106 5.14819 24.5791 5.14819C24.2476 5.14819 23.9296 5.27989 23.6952 5.51431L19.5791 9.63043" opacity="0.2" fill="white"/>
                            <path d="M32.0791 22.1304L36.1952 18.0143C36.3113 17.8982 36.4034 17.7604 36.4662 17.6088C36.529 17.4571 36.5613 17.2946 36.5613 17.1304C36.5613 16.9663 36.529 16.8037 36.4662 16.6521C36.4034 16.5004 36.3113 16.3626 36.1952 16.2465L25.463 5.51431C25.2286 5.27989 24.9106 5.14819 24.5791 5.14819C24.2476 5.14819 23.9296 5.27989 23.6952 5.51431L19.5791 9.63043" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <span class="box-header-1">3. Development</span>
                    <span class="box-header-2 text-justify">We develop compelling and interactive learning materials, employing diverse formats and media followed by internal reviews, to resonate perfectly with your brand and drive meaningful learning experience.</span>
                </div>
            </div>
        </div>
       
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="p-3 text-center" style="border-radius: 12px;">
                <div class="flex flex-column custom-box-t">
                    <div class="small-box hidden md:flex">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="MagnifyingGlass">
                            <path id="Vector" opacity="0.2" d="M18.3662 32.1299C25.6149 32.1299 31.4912 26.2536 31.4912 19.0049C31.4912 11.7561 25.6149 5.87988 18.3662 5.87988C11.1175 5.87988 5.24121 11.7561 5.24121 19.0049C5.24121 26.2536 11.1175 32.1299 18.3662 32.1299Z" fill="white"/>
                            <path id="Vector_2" d="M18.3662 32.1299C25.6149 32.1299 31.4912 26.2536 31.4912 19.0049C31.4912 11.7561 25.6149 5.87988 18.3662 5.87988C11.1175 5.87988 5.24121 11.7561 5.24121 19.0049C5.24121 26.2536 11.1175 32.1299 18.3662 32.1299Z" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_3" d="M27.6465 28.2861L35.2403 35.88" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            </svg>
                            
                    </div>
                    <span class="box-header-1">4. Review</span>
                    <span class="box-header-2 text-justify">We conduct internal reviews, QA checks, and pilot testing if required to validate functionality and effectiveness. </span>
                    <span class="mt-1"></span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="p-3 text-center" style="border-radius: 12px;">
                <div class="flex flex-column custom-box-t">
                    <div class="small-box hidden md:flex">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Code">
                            <path id="Vector" d="M10.8281 14.6299L3.32812 20.8799L10.8281 27.1299" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_2" d="M30.8281 14.6299L38.3281 20.8799L30.8281 27.1299" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_3" d="M25.8281 7.12988L15.8281 34.6299" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                            
                    </div>
                    <span class="box-header-1">5. Deployment</span>
                    <span class="box-header-2 text-justify">We distribute learning content to your preferred platform, in a timely way while guaranteeing  uncompromised quality, compatibility, accessibility, and security.</span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="p-3 text-center" style="border-radius: 12px;">
                <div class="flex flex-column custom-box-t">
                    <div class="small-box hidden md:flex">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Package">
                            <path id="Vector" opacity="0.2" d="M6.00122 12.5388C5.88786 12.731 5.82808 12.9502 5.82813 13.1734V28.5863C5.82813 28.8081 5.88714 29.0259 5.99911 29.2174C6.11109 29.4088 6.27199 29.567 6.4653 29.6758L20.2153 37.4101C20.4024 37.5154 20.6134 37.5707 20.8281 37.5707L20.8297 37.5707L20.9764 20.8799L6.00125 12.5388L6.00122 12.5388Z" fill="white"/>
                            <path id="Vector_2" d="M35.8281 28.5863V13.1735C35.8281 12.9517 35.7691 12.7339 35.6571 12.5424C35.5452 12.3509 35.3843 12.1927 35.191 12.084L21.441 4.34962C21.2538 4.24437 21.0428 4.18909 20.8281 4.18909C20.6135 4.18909 20.4024 4.24437 20.2153 4.34962L6.4653 12.084C6.27199 12.1927 6.11109 12.3509 5.99911 12.5424C5.88714 12.7339 5.82813 12.9517 5.82812 13.1735V28.5863C5.82813 28.8081 5.88714 29.0259 5.99911 29.2174C6.11109 29.4089 6.27199 29.5671 6.4653 29.6758L20.2153 37.4102C20.4024 37.5154 20.6135 37.5707 20.8281 37.5707C21.0428 37.5707 21.2538 37.5154 21.441 37.4102L35.191 29.6758C35.3843 29.5671 35.5452 29.4089 35.6571 29.2174C35.7691 29.0259 35.8281 28.8081 35.8281 28.5863Z" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_3" d="M28.4878 24.7097V16.5847L13.3281 8.22363" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_4" d="M35.6555 12.5403L20.9761 20.8799L6.00098 12.5388" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_5" d="M20.9763 20.8799L20.8296 37.5707" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>   
                    </div>
                    <span class="box-header-1">6. Evaluation & Optimization</span>
                    <span class="box-header-2 text-justify">We collect feedback from you, assessing the impact of the learning content and implement the same, refine content, and optimize for performance and engagement.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid grid-nogutter surface-section text-800">
    <div class="grid grid-nogutter surface-section text-800">
        <div class="col-12 md:col-6 surface-section px-4 py-8 md:px-6 lg:px-8">
            <div class="flex align-items-center"><div>
            <div class="text-xl mb-3" style="color: #15836F !important">EXPERTISE</div>
            <div class="text-900 text-4xl font-bold mb-3">Tailored Pricing: Our Approach</div>
            <div class="text-600 text-xl mt-3 mb-5 line-height-3">Our pricing model is designed to offer flexible options tailored to your needs, ensuring that you receive maximum value and support for your investment in innovative solutions and services.</div>
            <div class="grid">
                <div class="col-12 md:col-6">
                <div class="text-900 font-bold mb-2 box-header-1">Fixed Price &nbsp;<span class="circle-bg"><i class="text-yellow-1 font-bold pi pi-wallet"></i></span></div>
                <div class="text-700 mb-3 line-height-3">We offer fixed pricing per project with ongoing support until completion.</div>
            </div>
            <div class="col-12 md:col-6">
                <div class="text-900 font-bold mb-2 box-header-1">Time and Cost &nbsp;<span class="circle-bg"><i class="pi pi-clock text-yellow-1 font-bold"></i></span></div>
                <div class="text-700 mb-3 line-height-3">You are billed for the resources and time dedicated to your project.</div>
            </div>
            <div class="col-12 md:col-6">
                <div class="text-900 font-bold mb-2 box-header-1">Dedicated Team &nbsp;<span class="circle-bg"><i class="text-yellow-1 font-bold pi pi-users"></i></span></div>
                <div class="text-700 mb-3 line-height-3">You are charged based on the agreed rate per resource and the time invested.</div>
            </div>
        </div>
    </div>    
</div>
</div>
<div class="flex col-12 md:col-6 align-items-end">
<img src="assets/demo/images/landing/Photo.png" alt="Image" height="560" class="w-full">
</div>
</div>
</div>

<p-dialog header="Do-Rite" [(visible)]="doRightPopup" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" (onHide)="doRightPopup = false">
    <div class="flex flex-wrap border-top-1 surface-border justify-content-center pt-4 ng-tns-c15-4">
        <div class="bg-blue-50 flex align-items-center justify-content-center py-3 px-0 w-full md:w-8 border-round">
            <img src="assets/demo/images/landing/do-right.png" alt="do-right" class="w-full">
        </div>
        <span class="text-700 line-height-3 m-0 p-5 w-full md:w-4">
            <div class="text-900 font-bold mb-4">&nbsp;&nbsp;&nbsp;&nbsp;Core Values</div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-blue-600 mr-3"></i>
                <div>
                    <div class="text-900 font-medium mb-2">Dedication</div>
                </div>
            </div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-blue-600 mr-3"></i>
                <div>
                    <div class="text-900 font-medium mb-2">Optimism</div>
                </div>
            </div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-blue-600 mr-3"></i>
                
                <div>
                    <div class="text-900 font-medium mb-2">Respect</div>
                </div>
            </div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-blue-600 mr-3"></i>
                <div>
                    <div class="text-900 font-medium mb-2">Integrity</div>
                </div>
            </div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-blue-600 mr-3"></i>
                <div>
                    <div class="text-900 font-medium mb-2">Transparency</div>
                </div>
            </div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-blue-600 mr-3"></i>
                <div>
                    <div class="text-900 font-medium mb-2">Empathy</div>
                </div>
            </div>
        </span>
    </div>
</p-dialog>


<div class="px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class="p-3 text-center bg-gray" style="border-radius: 12px;">
                <div class="flex flex-row custom-box">
                    <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Trophy">
                        <path id="Vector" opacity="0.2" d="M12.9922 12.2501V24.3024C12.9922 32.9869 19.9385 40.1853 28.6228 40.2496C30.7011 40.2654 32.762 39.8697 34.6866 39.0852C36.6113 38.3008 38.3616 37.1432 39.8368 35.6792C41.312 34.2151 42.4828 32.4736 43.2818 30.5549C44.0808 28.6363 44.4922 26.5785 44.4922 24.5001V12.2501C44.4922 11.786 44.3078 11.3408 43.9796 11.0127C43.6514 10.6845 43.2063 10.5001 42.7422 10.5001H14.7422C14.2781 10.5001 13.8329 10.6845 13.5048 11.0127C13.1766 11.3408 12.9922 11.786 12.9922 12.2501Z" fill="#15836F"/>
                        <path id="Vector_2" d="M12.9922 12.2501V24.3024C12.9922 32.9869 19.9385 40.1853 28.6228 40.2496C30.7011 40.2654 32.762 39.8697 34.6866 39.0852C36.6113 38.3008 38.3616 37.1432 39.8368 35.6792C41.312 34.2151 42.4828 32.4736 43.2818 30.5549C44.0808 28.6363 44.4922 26.5785 44.4922 24.5001V12.2501C44.4922 11.786 44.3078 11.3408 43.9796 11.0127C43.6514 10.6845 43.2063 10.5001 42.7422 10.5001H14.7422C14.2781 10.5001 13.8329 10.6845 13.5048 11.0127C13.1766 11.3408 12.9922 11.786 12.9922 12.2501Z" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_3" d="M21.7427 49.0001H35.7427" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_4" d="M28.7427 40.2501V49.0001" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_5" d="M44.1016 28.0001H46.2419C48.0984 28.0001 49.8789 27.2626 51.1916 25.9498C52.5044 24.6371 53.2419 22.8566 53.2419 21.0001V17.5001C53.2419 17.0359 53.0575 16.5908 52.7293 16.2626C52.4011 15.9344 51.956 15.7501 51.4919 15.7501H44.4919" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_6" d="M13.4218 28.0001H11.2144C9.35784 28.0001 7.57736 27.2626 6.26461 25.9498C4.95185 24.6371 4.21436 22.8566 4.21436 21.0001V17.5001C4.21436 17.0359 4.39873 16.5908 4.72692 16.2626C5.05511 15.9344 5.50023 15.7501 5.96436 15.7501H12.9644" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>
                    <div class="flex flex-column align-items-start gap-2">
                        <span class="box-text">50,000+</span>
                        <span class="box-sub-text">Hours of Learning</span>
                    </div>
                      
                </div>
                <i class="btn-st cursor-pointer" [ngClass]="hrsOfLearning ? 'pi pi-chevron-circle-up mt-custom': 'pi pi-chevron-circle-down'" (click)="expandData(0)"></i>
                <div class="flex flex-column justify-content-between gap-2" *ngIf="hrsOfLearning">
                    <ul class="mt-4 list-none p-0 mx-0">
                        <li class="flex align-items-center pb-3">
                            <!-- <span class="border-round bg-indigo-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90">ILT</span>
                            <span class="text-600 text-sm font-medium ml-auto">15,000+ hours</span>
                        </li>
                        <li class="flex align-items-center py-3">
                            <!-- <span class="border-round bg-blue-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90">Academic</span>
                            <span class="text-600 text-sm font-medium ml-auto">15,000+ hours</span>
                        </li>
                        <li class="flex align-items-center py-3">
                            <!-- <span class="border-round bg-orange-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90">E-learning</span>
                            <span class="text-600 text-sm font-medium ml-auto">10,000+ hours</span>
                        </li>
                        <li class="flex align-items-center py-3">
                            <!-- <span class="border-round bg-purple-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90">Translation & Video Editing</span>
                            <span class="text-600 text-sm font-medium ml-auto">10,000+ hours</span>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class="p-3 text-center bg-gray" style="border-radius: 12px;">
                <div class="flex flex-row custom-box">
                    <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Users">
                        <path id="Vector" opacity="0.2" d="M19.9922 35C26.2744 35 31.3672 29.9073 31.3672 23.625C31.3672 17.3428 26.2744 12.25 19.9922 12.25C13.7099 12.25 8.61719 17.3428 8.61719 23.625C8.61719 29.9073 13.7099 35 19.9922 35Z" fill="#15836F"/>
                        <path id="Vector_2" d="M19.9922 35C26.2744 35 31.3672 29.9073 31.3672 23.625C31.3672 17.3428 26.2744 12.25 19.9922 12.25C13.7099 12.25 8.61719 17.3428 8.61719 23.625C8.61719 29.9073 13.7099 35 19.9922 35Z" stroke="#15836F" stroke-width="3" stroke-miterlimit="10"/>
                        <path id="Vector_3" d="M34.7388 12.6738C36.3033 12.233 37.9442 12.1326 39.5508 12.3793C41.1574 12.626 42.6925 13.2142 44.0527 14.1042C45.4128 14.9941 46.5665 16.1652 47.436 17.5386C48.3054 18.912 48.8705 20.4557 49.0931 22.0659C49.3156 23.676 49.1906 25.3152 48.7264 26.8729C48.2621 28.4307 47.4695 29.8709 46.4017 31.0965C45.334 32.3221 44.0161 33.3046 42.5367 33.978C41.0572 34.6514 39.4507 34.9999 37.8252 35.0001" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_4" d="M4.24121 43.1806C6.01775 40.6536 8.37622 38.5912 11.1175 37.1674C13.8588 35.7435 16.9024 35.0002 19.9914 35.0001C23.0804 35 26.1241 35.7431 28.8654 37.1667C31.6068 38.5903 33.9655 40.6526 35.7422 43.1794" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_5" d="M37.8247 35C40.914 34.9978 43.9583 35.74 46.6999 37.1638C49.4415 38.5875 51.7997 40.651 53.5748 43.1794" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>
                    <div class="flex flex-column align-items-start gap-2">
                        <span class="box-text">75+</span>
                        <span class="box-sub-text">Team Members</span>
                    </div>    
                </div>
                <i class="pi pi-chevron-circle-down btn-st cursor-pointer" [ngClass]="teamMembers ? 'pi pi-chevron-circle-up mt-custom': 'pi pi-chevron-circle-down'" (click)="expandData(1)"></i>
                <div class="flex flex-column justify-content-between gap-2" *ngIf="teamMembers">
                    <ul class="mt-4 list-none p-0 mx-0">
                        <li class="flex align-items-center pb-2">
                            <!-- <span class="border-round bg-indigo-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90">Delivery Team</span>
                            <span class="text-600 text-sm font-medium ml-auto">50+ resources</span>
                        </li>
                        <li class="flex align-items-center pt-3 pb-2">
                            <!-- <span class="border-round bg-blue-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90">BD Team</span>
                            <span class="text-600 text-sm font-medium ml-auto">8+ resources</span>
                        </li>
                        <li class="flex align-items-center pt-3 pb-2">
                            <!-- <span class="border-round bg-orange-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90">Finance Team</span>
                            <span class="text-600 text-sm font-medium ml-auto">5+ resources</span>
                        </li>
                        <li class="flex align-items-center pt-3 pb-2">
                            <!-- <span class="border-round bg-purple-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90">HR Team</span>
                            <span class="text-600 text-sm font-medium ml-auto">7+ resources</span>
                        </li>
                        <li class="flex align-items-center pt-3 ">
                            <!-- <span class="border-round bg-purple-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90">Advisory Team</span>
                            <span class="text-600 text-sm font-medium ml-auto">5+ resources</span>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class="p-3 text-center bg-gray" style="border-radius: 12px;">
                <div class="flex flex-row custom-box">
                    <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Smiley">
                        <path id="Vector" opacity="0.2" d="M28.7422 49.0001C40.3402 49.0001 49.7422 39.598 49.7422 28.0001C49.7422 16.4021 40.3402 7.00006 28.7422 7.00006C17.1442 7.00006 7.74219 16.4021 7.74219 28.0001C7.74219 39.598 17.1442 49.0001 28.7422 49.0001Z" fill="#15836F"/>
                        <path id="Vector_2" d="M28.7422 49.0001C40.3402 49.0001 49.7422 39.598 49.7422 28.0001C49.7422 16.4021 40.3402 7.00006 28.7422 7.00006C17.1442 7.00006 7.74219 16.4021 7.74219 28.0001C7.74219 39.598 17.1442 49.0001 28.7422 49.0001Z" stroke="#15836F" stroke-width="3" stroke-miterlimit="10"/>
                        <path id="Vector_3" d="M37.8369 33.2493C36.9144 34.8449 35.5884 36.1697 33.9919 37.0908C32.3955 38.0119 30.5848 38.4967 28.7417 38.4967C26.8987 38.4968 25.088 38.0119 23.4915 37.0909C21.8951 36.1698 20.569 34.845 19.6465 33.2494" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_4" d="M20.1011 23.625C20.1011 23.2022 20.4439 22.8594 20.8667 22.8594C21.2895 22.8594 21.6323 23.2022 21.6323 23.625C21.6323 24.0479 21.2895 24.3907 20.8667 24.3907C20.4439 24.3907 20.1011 24.0479 20.1011 23.625Z" fill="#15836F" stroke="#15836F" stroke-width="3"/>
                        <path id="Vector_5" d="M35.8511 23.625C35.8511 23.2022 36.1939 22.8594 36.6167 22.8594C37.0395 22.8594 37.3823 23.2022 37.3823 23.625C37.3823 24.0479 37.0395 24.3907 36.6167 24.3907C36.1939 24.3907 35.8511 24.0479 35.8511 23.625Z" fill="#15836F" stroke="#15836F" stroke-width="3"/>
                        </g>
                    </svg>
                    <div class="flex flex-column align-items-start gap-2">
                        <span class="box-text">25+</span>
                        <span class="box-sub-text">Clients</span>
                    </div>    
                </div>
                <i class="pi pi-chevron-circle-down btn-st cursor-pointer" [ngClass]="clients ? 'pi pi-chevron-circle-up mt-custom': 'pi pi-chevron-circle-down'" (click)="expandData(2)"></i>
                <div class="flex flex-column justify-content-between gap-2" *ngIf="clients">
                    <ul class="mt-4 list-none p-0 mx-0">
                        <li class="flex align-items-center pb-3">
                            <!-- <span class="border-round bg-indigo-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90">Asia Pacific</span>
                            <span class="text-600 text-sm font-medium ml-auto">15+ clients</span>
                        </li>
                        <li class="flex align-items-center py-3">
                            <!-- <span class="border-round bg-blue-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90">North America</span>
                            <span class="text-600 text-sm font-medium ml-auto">2+ clients</span>
                        </li>
                        <li class="flex align-items-center py-3">
                            <!-- <span class="border-round bg-orange-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90">Europe</span>
                            <span class="text-600 text-sm font-medium ml-auto">5+ Clients</span>
                        </li>
                        <li class="flex align-items-center py-3">
                            <!-- <span class="border-round bg-purple-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90">Middle East</span>
                            <span class="text-600 text-sm font-medium ml-auto">3+ clients</span>
                        </li>
                      
                    </ul>
                </div> 
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class="p-3 text-center bg-gray" style="border-radius: 12px;">
                <div class="flex flex-row custom-box">
                    <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Briefcase">
                        <path id="Vector" opacity="0.2" d="M28.7424 33.25C21.3701 33.2616 14.1258 31.3235 7.74414 27.6322V45.5C7.74414 45.7299 7.7894 45.9574 7.87735 46.1697C7.96529 46.3821 8.0942 46.575 8.2567 46.7375C8.4192 46.9 8.61212 47.0289 8.82444 47.1168C9.03676 47.2048 9.26433 47.25 9.49414 47.25H47.9941C48.224 47.25 48.4515 47.2048 48.6638 47.1168C48.8762 47.0289 49.0691 46.9 49.2316 46.7375C49.3941 46.575 49.523 46.3821 49.6109 46.1697C49.6989 45.9574 49.7441 45.7299 49.7441 45.5V27.6302C43.3617 31.3228 36.1161 33.2616 28.7424 33.25V33.25Z" fill="#15836F"/>
                        <path id="Vector_2" d="M47.9941 15.7501H9.49414C8.52764 15.7501 7.74414 16.5336 7.74414 17.5001V45.5001C7.74414 46.4666 8.52764 47.2501 9.49414 47.2501H47.9941C48.9606 47.2501 49.7441 46.4666 49.7441 45.5001V17.5001C49.7441 16.5336 48.9606 15.7501 47.9941 15.7501Z" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_3" d="M37.4922 15.7501V12.2501C37.4922 11.3218 37.1234 10.4316 36.4671 9.77519C35.8107 9.11881 34.9204 8.75006 33.9922 8.75006H23.4922C22.5639 8.75006 21.6737 9.11881 21.0173 9.77519C20.3609 10.4316 19.9922 11.3218 19.9922 12.2501V15.7501" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_4" d="M49.7435 27.6302C43.361 31.3228 36.1154 33.2617 28.7417 33.2501C21.3693 33.2617 14.1249 31.3235 7.74316 27.6321" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_5" d="M26.1167 26.2501H31.3667" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        </svg>
                    <div class="flex flex-column align-items-start gap-2">
                        <span class="box-text">1500+</span>
                        <span class="box-sub-text">Projects</span>
                    </div>    
                </div>
                <!-- <a class="more-color">Learn More</a> -->
                <i class="pi pi-chevron-circle-down btn-st cursor-pointer" [ngClass]="projects ? 'pi pi-chevron-circle-up mt-custom': 'pi pi-chevron-circle-down'" (click)="expandData(3)"></i>
                <div class="flex flex-column justify-content-between" *ngIf="projects">
                    <ul class="mt-4 list-none p-0 mx-0">
                        <li class="flex align-items-center pb-3">
                            <!-- <span class="border-round bg-indigo-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90 cs-max-wdth">Content Development & multimedia</span>
                            <span class="text-600 text-sm font-medium ml-auto">1400+ projects</span>
                        </li>
                        <li class="flex align-items-center py-3">
                            <!-- <span class="border-round bg-blue-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90 cs-max-wdth">Translation & Localisation</span>
                            <span class="text-600 text-sm font-medium ml-auto">50+ projects</span>
                        </li>
                        <li class="flex align-items-center py-3">
                            <!-- <span class="border-round bg-orange-500 mr-3 flex-shrink-0" style="width: 1rem; height: 1rem;"></span> -->
                            <span class="text-sm font-medium text-90 cs-max-wdth">Website Development, Deployment, Tech Support</span>
                            <span class="text-600 text-sm font-medium ml-auto">50+ projects</span>
                        </li>
                       
                      
                    </ul>
                </div> 
            </div>
        </div>
    </div>
   
</div>


<section class="surface-section-2 px-4 pt-8 md:px-6 lg:px-8" id="team">
    <h3 class="text-center text-900 font-bold text-5xl team-heading">Meet The Team</h3>
    <p class="text-600 text-xl mt-3 mb-3 line-height-3 text-center">Our team is where creativity meets expertise and innovation thrives. We are a diverse group of individuals with unique skills and backgrounds, brought together by a shared passion for pushing boundaries and making a difference. Know the brilliant minds behind our collective vision for shaping the future!</p>
<div class="grid text-center justify-content-center mt-5">
    <!-- <div class="col-12 md:col-4 text-center mb-5">
        <img src="assets/demo/images/avatar/ravi.png" class="mb-4 mt-4">
        <div class="text-xl text-900 font-medium mb-3">Ravi Kumar Konakere</div>
        <div class="text-blue-600 text-xl mb-3">Co-Founder & CEO</div>
        <div class="inline-flex align-items-center">
            <a class="text-600 cursor-pointer" href="https://www.linkedin.com/in/ravikumar-konakere-64377911">
                <i class="pi pi-linkedin text-xl"></i>
            </a>
        </div>
    </div>
    <div class="col-12 md:col-4 text-center mb-5">
        <img src="assets/demo/images/avatar/archna.PNG" width="150" height="140" class="mb-3">
        <div class="text-xl text-900 font-medium mb-3">Archna K</div>
        <div class="text-blue-600 text-xl mb-3">Head of Operations</div>
        <div class="inline-flex align-items-center">
            
        </div>
    </div>
    <div class="col-12 md:col-4 text-center mb-5">
        <img src="assets/demo/images/avatar/dipali.PNG" width="150" height="140" class="mb-3">
        <div class="text-xl text-900 font-medium mb-3">Dipali G</div>
        <div class="text-blue-600 text-xl mb-3">E-Learning & ILT</div>
        <div class="inline-flex align-items-center">
           
        </div>
    </div>
    <div class="col-12 md:col-4 text-center mb-5">
        <img src="assets/demo/images/avatar/avatar.PNG" width="150" height="140" class="mb-3">
        <div class="text-xl text-900 font-medium mb-3">Sowmya A</div>
        <div class="text-blue-600 text-xl mb-3">K12, Graduate & Post Graduate Content</div>
        <div class="inline-flex align-items-center">
            
        </div>
    </div>
    <div class="col-12 md:col-4 text-center mb-5">
        <img src="assets/demo/images/avatar/misha.PNG" width="150" height="140" class="mb-3">
        <div class="text-xl text-900 font-medium mb-3">Misha S</div>
        <div class="text-blue-600 text-xl mb-3">Human Resource</div>
        <div class="inline-flex align-items-center">
           
        </div>
    </div>
    <div class="col-12 md:col-4 text-center mb-0 md:mb-5">
        <img src="assets/demo/images/avatar/pankaja.PNG" width="150" height="140" class="mb-3">
        <div class="text-xl text-900 font-medium mb-3">Pankaja D</div>
        <div class="text-blue-600 text-xl mb-3">Senior Project Manager</div>
        <div class="inline-flex align-items-center">
           
        </div>
    </div> -->
    <!-- <p-organizationChart [value]="orgData">
        <ng-template let-node pTemplate="person">
            <div class="p-2 text-center">
                <img 
                    [src]="node.data.image" 
                    class="mb-3 w-3rem h-3rem" />
                <div class="font-bold">
                    {{ node.data.name }}
                </div>
                <div>
                    {{ node.data.title }}
                </div>
            </div>
        </ng-template>


    </p-organizationChart> -->
    <img src="assets/demo/images/landing/org-chart.png">

</div>    
</section>

