
<div class="relative p-2 overflow-hidden bg-no-repeat bg-cover" style="background-image: url('assets/demo/images/landing/hero-3.jpg');">
    <div class="text-center my-6 relative">
        <div class="text-6xl font-bold mb-1 text-white">{{step === 0 ? 'Engaging Content, Impactful Multimedia!': step === 1 ? 'Seamless Localization, Global Reach!': 'Custom Website, Optimized Tech Solutions!'}}</div>
        <div class="text-6xl text-blue-400 font-bold mb-4">{{step === 0 ? 'Learn | Create | Transform': step === 1 ? 'Translate | Adapt | Connect': 'Develop | Host | Support'}}</div>
        <p class="mt-0 mb-3 text-lg line-height-3 text-center mx-auto text-blue-100" style="max-width: 500px;">{{step === 0 ? 'We create engaging content, media, and simulations for comprehensive learning solutions.' : step === 1 ? 'We help you engage audiences in their native language seamlessly with precise translation and cultural localization.' : 'We provide website development, secure hosting, and reliable tech support to keep your digital presence strong and hassle-free.'}}</p>
        <div class="flex align-items-center justify-content-center flex-wrap">
            <button type="button" label="Let's Talk" pbutton="" pripple="" class="p-element p-ripple p-3 mt-3 p-button p-component" style="background-color: rgb(56,84,154)" (click)="submitOutput.emit()">
                <span class="p-button-label">Let's Talk</span>
                <span class="p-ink"></span>
            </button>
        </div>
        <div class="flex justify-content-center mt-4" style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
          </div>
    </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-column lg:flex-row align-items-center justify-content-between">
        <div class="text-center lg:text-left lg:pr-8">
            <div class="text-900 text-4xl font-bold mb-3">Who are we ?</div>
            <div class="text-600 text-lg mt-3 mb-5 line-height-3 custom-blue-color text-justify">We are a leading content development company with a passion for transforming dynamic ideas into impactful learning experiences. Backed by years of
                expertise, we craft innovative solutions that engage, empower, and connect audiences worldwide. Our commitment to creativity and technology
                ensures seamless adaptability in an ever-evolving digital landscape.
            </div>
        </div>
        <div class="mt-5 lg:mt-0 flex flex-wrap lg:flex-nowrap">
            <!-- <button pbutton="" pripple="" label="Contact Us" class="p-element p-ripple px-5 py-3 mr-0 lg:mr-3 font-bold mb-3 lg:mb-0 w-full lg:w-auto white-space-nowrap p-button p-component">
                <span class="p-button-label">Contact Us</span>
                <span class="p-ink"></span>
            </button> -->
            <button pbutton="" pripple="" label="View Our Portfolio" class="p-element p-ripple px-5 py-3 p-button-outlined font-bold w-full lg:w-auto white-space-nowrap p-button p-component" (click)="navToPortfolio()" style="background-color: rgb(56,84,154) !important; color: white !important">
                <span class="p-button-icon p-button-icon-right pi pi-arrow-right" aria-hidden="true"></span>
                <span class="p-button-label">View Our Portfolio</span>
                <span class="p-ink"></span>
            </button>
            
        </div>
    </div>
</div>       
<div class="surface-section px-4 pt-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-4xl">
        <div class="text-orange-500 font-medium mb-3 text-center" style="color: #15836F !important">What We Offer</div>
        <span class="text-900">Empowering your </span>
        <span class="txt-yellow">digital journey with tailored solutions.</span>
    </div>
    <div class="text-600 text-xl mt-3 mb-5 line-height-3 custom-blue-color">We offer comprehensive solutions in content development, localization, technology, and web development to help you scale and succeed in the digital world</div>
    <div class="grid">
        <div class="col-12 md:col-3 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <svg class="custom-zoom-1" xmlns="http://www.w3.org/2000/svg" width="60" height="61" viewBox="0 0 60 61" fill="none">
                    <path d="M7.5 50.6719V13.1719C7.5 12.6746 7.69754 12.1977 8.04918 11.8461C8.40081 11.4944 8.87772 11.2969 9.375 11.2969H50.625C51.1223 11.2969 51.5992 11.4944 51.9508 11.8461C52.3025 12.1977 52.5 12.6746 52.5 13.1719V50.6719L45 46.9219L37.5 50.6719L30 46.9219L22.5 50.6719L15 46.9219L7.5 50.6719Z" stroke="#15836F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M33.75 26.2969H45" stroke="#15836F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M33.75 33.7969H45" stroke="#15836F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.25 22.5469H15V37.5469H26.25V22.5469Z" stroke="#15836F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Content Development & Media</div>
            <span class="text-700 line-height-3">Crafting engaging deliverables that meet specific client needs, ensuring optimal learning outcomes.</span>
        </div>
        <div class="col-12 md:col-3 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-map-marker text-4xl txt-yellow-1"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Localisation</div>
            <span class="text-700 line-height-3">Bridging language and culture to make your content resonate with global audiences.</span>
        </div>
        <div class="col-12 md:col-3 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-cog text-4xl txt-yellow-1"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Technology</div>
            <span class="text-700 line-height-3">Delivering expert support to maintain and enhance your digital presence.</span>
        </div>
        
        <div class="col-12 md:col-3 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl txt-yellow-1"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Website Development & Hosting Support</div>
            <span class="text-700 line-height-3">Designing and developing secure and scalable responsive websites for seamless user experiences.</span>
        </div>
        <!-- <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-server text-4xl txt-yellow-1"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Hosting and Deployment</div>
            <span class="text-700 line-height-3">Ensuring seamless integration and reliable performance in your projects to maximize accessibility and efficiency</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-volume-up text-4xl txt-yellow-1"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Event Campaigns</div>
            <span class="text-700 line-height-3">Adhering to strategic planning and execution to promote and manage events effectively, maximizing engagement and impact</span>
        </div> -->
    </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-center font-bold text-blue-600 mb-4">WHY CHOOSE US</div>
    <div class="text-center font-bold text-900 mb-5 text-4xl">Your trusted partner for innovative, scalable, and seamless digital solutions</div>
    <div class="grid">
        <div class="col-12 lg:col-6 flex align-items-center justify-content-center">
            <img [src]="img_home" alt="Image" class="w-full md:w-9 ng-star-inserted"></div>
            <div class="col-12 lg:col-6 mt-5 lg:mt-0">
                <ul class="list-none m-0 p-0">
                    <li [class]="point === 2 ? 'border-left-2 p-4 cursor-pointer text-blue-900 bg-blue-50 border-blue-500' : 'border-left-2 p-4 cursor-pointer surface-border'"  (mouseover)="changePicture(2)">
                        <div class="box-header-1">Customized, Scalable Solutions</div>
                        <p class="line-height-3 box-header-2">We design solutions that evolve with your business needs, ensuring flexibility and efficiency. Our approach focuses on adaptability, performance, and long-term success.</p>
                    </li>
                    <li [class]="point === 1 ? 'border-left-2 p-4 cursor-pointer text-blue-900 bg-blue-50 border-blue-500': 'border-left-2 p-4 cursor-pointer surface-border'" (mouseover)="changePicture(1)">
                        <div class="box-header-1">Experienced Team of Professionals</div>
                        <p class="line-height-3 box-header-2">We have a team of skilled professionals with extensive experience in content development, localization, and tech support services across various domains, ensuring effective solutions.</p>
                    </li>
                    <li [class]="point === 4 ? 'border-left-2 p-4 cursor-pointer text-blue-900 bg-blue-50 border-blue-500': 'border-left-2 p-4 cursor-pointer surface-border'" (mouseover)="changePicture(4)">
                        <div class="box-header-1">Flexible, Cost-effective, and Transparent Pricing</div>
                        <p class="line-height-3 box-header-2">We offer flexible and transparent pricing models tailored to your needs. Our cost-effective solutions scale from small projects to enterprise-level training, ensuring affordability without compromising quality. With clear cost breakdowns and no hidden fees, you get complete budget control and financial clarity.</p>
                    </li>
                    <li [class]="point === 5 ? 'border-left-2 p-4 cursor-pointer text-blue-900 bg-blue-50 border-blue-500' : 'border-left-2 p-4 cursor-pointer surface-border'" (mouseover)="changePicture(5)">
                        <div class="box-header-1">Commitment to Quality and Timely Delivery</div>
                        <p class="line-height-3 box-header-2">We are dedicated to maintaining high standards of quality in our deliverables and ensure that projects are completed within the agreed timelines, demonstrating reliability and professionalism.</p>
                    </li>
                    <li [class]="point === 3 ? 'border-left-2 p-4 cursor-pointer text-blue-900 bg-blue-50 border-blue-500' : 'border-left-2 p-4 cursor-pointer surface-border'" (mouseover)="changePicture(3)">
                        <div class="box-header-1">Global Reach</div>
                        <p class="line-height-3 box-header-2">We help businesses expand their presence by making content accessible and relevant to diverse audiences worldwide.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

   

<!-- <div class="surface-section-1 px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-4xl">
        <span class="text-900">Our journey from </span>
        <span class="txt-yellow">creative expressions to engaging reality…</span>
    </div>
    <div class="text-600 text-xl mt-3 mb-5 line-height-3 custom-blue-color">Embark on a voyage where creative ideas, artistic expressions, and precise execution bring imagination to life</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <svg class="custom-zoom-1" xmlns="http://www.w3.org/2000/svg" width="60" height="61" viewBox="0 0 60 61" fill="none">
                    <path d="M7.5 50.6719V13.1719C7.5 12.6746 7.69754 12.1977 8.04918 11.8461C8.40081 11.4944 8.87772 11.2969 9.375 11.2969H50.625C51.1223 11.2969 51.5992 11.4944 51.9508 11.8461C52.3025 12.1977 52.5 12.6746 52.5 13.1719V50.6719L45 46.9219L37.5 50.6719L30 46.9219L22.5 50.6719L15 46.9219L7.5 50.6719Z" stroke="#15836F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M33.75 26.2969H45" stroke="#15836F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M33.75 33.7969H45" stroke="#15836F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.25 22.5469H15V37.5469H26.25V22.5469Z" stroke="#15836F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Content Development</div>
            <span class="text-700 line-height-3">Crafting engaging materials that meet specific client needs, ensuring optimal learning outcomes</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <svg fill="#15836F" width="30px" height="28px" viewBox="-1 0 19 17" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg"><path d="M16.141 7.905c.24.102.24.269 0 .37l-7.204 3.058a1.288 1.288 0 0 1-.874 0L.859 8.276c-.24-.102-.24-.27 0-.371l7.204-3.058a1.287 1.287 0 0 1 .874 0zm-6.833 4.303 3.983-1.69v2.081c0 1.394-2.145 2.524-4.791 2.524s-4.79-1.13-4.79-2.524v-2.082l3.982 1.69a2.226 2.226 0 0 0 1.616 0zm4.94 1.677h1.642v-1.091a.822.822 0 1 0-1.643 0zm.82-3.603a.554.554 0 1 0-.553-.554.554.554 0 0 0 .554.554zm0 1.415a.554.554 0 1 0-.553-.555.554.554 0 0 0 .554.555z"/></svg>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">K-12 and Grad. Content Preparation</div>
            <span class="text-700 line-height-3">Tailoring educational materials to meet diverse curriculum needs and promote better learning outcomes</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-images text-4xl txt-yellow-1"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Graphic Creation</div>
            <span class="text-700 line-height-3">Offering tailored graphic creation services that effectively meet customer needs and elevate their learning experiences</span>
        </div>
        
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-book text-4xl txt-yellow-1"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Pearson Test of English (PTE)</div>
            <span class="text-700 line-height-3">Providing precise assessment of English language proficiency for diverse educational and professional needs</span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-server text-4xl txt-yellow-1"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Hosting and Deployment</div>
            <span class="text-700 line-height-3">Ensuring seamless integration and reliable performance in your projects to maximize accessibility and efficiency</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-volume-up text-4xl txt-yellow-1"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Event Campaigns</div>
            <span class="text-700 line-height-3">Adhering to strategic planning and execution to promote and manage events effectively, maximizing engagement and impact</span>
        </div>
    </div>
</div> -->

<!-- Testimonials -->
<div class="surface-section-1 px-4 pb-6 pt-2 md:px-6 lg:px-6">
    <div class="mb-3 text-center text-900 text-4xl txt-yellow">Testimonials</div>
    <div class="text-600 text-xl text-center mt-2 mb-3 line-height-3 custom-blue-color">Discover how our solutions have made a difference for our clients and their businesses.</div>
    <div class="grid grid-nogutter">
        <div class="col-12 lg:col-6 xl:col-6 p-4">
            <div class="surface-card shadow-2 p-4 flex flex-column align-items-center md:flex-row md:align-items-stretch h-full" style="border-radius: 10px;">
                <span>
                    <img src="assets/demo/images/landing/female-f.png" class="w-5rem">
                </span>
                <div class="flex flex-column align-items-center md:align-items-stretch ml-4 mt-4 md:mt-0">
                    <p class="mt-0 mb-3 line-height-3 text-center md:text-left">Working with Learning Curve was a game-changer for our business. Their expertise in content development and web development helped us create an engaging and user-friendly platform. We couldn’t be happier with the results.</p>
                    <span class="text-900 font-medium mb-1 mt-auto">Jane Cooper</span>
                    <div class="text-600 text-sm">Marketing Director</div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-6 p-4">
            <div class="surface-card shadow-2 p-4 flex flex-column align-items-center md:flex-row md:align-items-stretch h-full" style="border-radius: 10px;">
                <span>
                    <img src="assets/demo/images/landing/male-f.png" class="w-5rem">
                </span>
                    <div class="flex flex-column align-items-center md:align-items-stretch ml-4 mt-4 md:mt-0">
                        <p class="mt-0 mb-3 line-height-3 text-center md:text-left">Learning Curve exceeded our expectations with their top-notch localization services. They understood our global audience and tailored our content seamlessly across multiple regions. The team is professional, reliable, and always delivers on time.</p>
                        <div class="text-900 font-medium mb-1 mt-auto">Jacob Jones</div>
                        <div class="text-600 text-sm">Head of Global Strategy</div>
                    </div>
            </div>
        </div>       
    </div>

       
        
