<div class="surface-section px-4 py-8 md:px-6 lg:px-8" style="background-image: url('assets/demo/images/landing/overlapping-cards.jpg'); background-size: cover;">
    <div class="flex flex-column lg:flex-row align-items-center justify-content-between">
        <div class="text-center lg:text-left lg:pr-8">
            <div class="text-blue-200 font-medium mb-1 text-xl">Advance Your Journey</div>
            <div class="text-900 font-bold text-5xl mb-5 text-white">With Comprehensive Solutions Tailored to Your Needs!</div>
            <button pButton pRipple label="Learn More" style="background-color: rgb(56,84,154) !important; color: white !important" class="p-button border-none font-light line-height-2 bg-blue-500 text-white" (click)="scrollToAnchor('graphic-development', 100)"></button>
        </div>
    </div>
</div>

<!-- <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="w-full lg:hidden">
        <div class="text-900 font-bold text-3xl mt-2">Content and Media Development</div>
        <p class="text-600 text-xl mt-3 mb-5 line-height-3 text-justify">Crafting compelling content and engaging multimedia to captivate audiences, our content creation process brings ideas to life and drives meaningful connections in the digital realm.</p>
    </div>
    <div class="grid justify-content-center flex-column lg:flex-row">
        <div class="col-12 lg:col-6 py-4 lg:pr-4 flex-order-2 lg:flex-order-1">
            <div class="w-full hidden lg:block">
                <div class="text-900 font-bold text-3xl mt-2">Content and Media Development</div>
                <p class="text-600 text-xl mt-3 mb-5 line-height-3">Crafting compelling content and engaging multimedia to captivate audiences, our content creation process brings ideas to life and drives meaningful connections in the digital realm.</p>
            </div>
            <div class="flex px-5 py-2">
                <i class="pi pi-book text-4xl font-bold text-900"></i>
                <div class="ml-5">
                    <div class="text-900 font-bold text-xl">Domains</div>
                    <p class="text-700">We specialize in catering to the educational and professional needs of diverse audiences.</p>
                    <p class="ml-2"><b>Education Sector</b> </p>
                        
                        <div class="flex flex-row justify-content-between mt-1 mb-1 ml-4">
                            <p>1. K12</p> <p>2. Under Graduate / Post Graduate</p><p>3. Competitive Exams</p>
                        </div>
                    <p class="ml-2 mt-1"><b>Corporate Sector</b> </p>
                    <p class="ml-2 mt-1"><b>Service Sector</b> </p>
                    
                        
                </div>
            </div>
            <div class="flex px-5 py-2">
                <i class="pi pi-desktop text-4xl font-bold text-900"></i>
                <div class="ml-5">
                    <div class="text-900 font-bold text-xl">Delivery Mechanisms</div>
                    <p class="text-700">We deliver in various formats, integrating multiple approaches for effective knowledge transfer.</p>
                    <p class="ml-2"><b>E-learning:</b> Video-based and SCORM complaint courses for LMS deployment</p>
                    <p class="ml-2"><b>Instructor Led Training (ILT):</b> Interactive, expert-led virtual/physical sessions through learner guides, faculty guides, and additional supporting resources</p>
                    <p class="ml-2"><b>Media:</b> Visually rich content, including animations, graphics, demos, and videos to enhance learner engagement and retention</p>
                    <p class="ml-2"><b>Technical Documentation:</b> Structured, detailed instructional materials providing in-depth guidance on processes, systems, or technologies</p>
                    <p class="ml-2"><b>Assessments:</b> Evaluations through quizzes, tests, scenario-based assignments, and practical exercises to measure learner understanding and progress</p>
                </div>
            </div>
            
    </div>
    <div class="col-12 mt-6 lg:col-6 flex-order-1 lg:flex-order-2">
        <img src="assets/demo/images/landing/content-creation.webp" alt="product" class="border-round w-full">
    </div>
</div>
</div> -->
<div class="surface-section px-4 pt-8 pb-2 md:px-6 lg:px-8 w-full">
    <div class="grid">
        <div class="col-12 md:col-6 flex align-items-center"><div>
            <div class="text-900 font-bold text-3xl mt-2 mb-3">Content and Media Development</div>
            <p class="text-600 text-xl mb-2 line-height-3">Crafting compelling content and engaging multimedia to captivate audiences, our content creation process brings ideas to life and drives meaningful connections in the digital realm.</p>
            <p-tabView>
                <p-tabPanel header="Domains">
                    <div class="flex py-4 custom-min-ht">
                        <div>
                            <p class="text-700">We specialize in catering to the educational and professional needs of diverse audiences.</p>
                            <p class="ml-2"><i class="pi pi-circle-fill custom-bt-zoom"></i>&nbsp;<b>Education Sector</b> </p>
                                
                                <div class="flex flex-row justify-content-between mt-1 mb-1 ml-4">
                                    <p>1. K12</p> <p>2. Under Graduate / Post Graduate</p><p>3. Competitive Exams</p>
                                </div>
                            <p class="ml-2 mt-1"><i class="pi pi-circle-fill custom-bt-zoom"></i>&nbsp;<b>Corporate Sector</b> </p>
                            <p class="ml-2 mt-1"><i class="pi pi-circle-fill custom-bt-zoom"></i>&nbsp;<b>Service Sector</b> </p>      
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Delivery Mechanisms">
                    <div class="flex">
                        <div>
                            <p class="text-700">We deliver in various formats, integrating multiple approaches for effective knowledge transfer.</p>
                            <p class="ml-2"><i class="pi pi-circle-fill custom-bt-zoom"></i>&nbsp;<b>E-learning:</b> Video-based and SCORM complaint courses for LMS deployment</p>
                            <p class="ml-2"><i class="pi pi-circle-fill custom-bt-zoom"></i>&nbsp;<b>Instructor Led Training (ILT):</b> Interactive, expert-led virtual/physical sessions through learner guides, faculty guides, and additional supporting resources</p>
                            <p class="ml-2"><i class="pi pi-circle-fill custom-bt-zoom"></i>&nbsp;<b>Media:</b> Visually rich content, including animations, graphics, demos, and videos to enhance learner engagement and retention</p>
                            <p class="ml-2"><i class="pi pi-circle-fill custom-bt-zoom"></i>&nbsp;<b>Technical Documentation:</b> Structured, detailed instructional materials providing in-depth guidance on processes, systems, or technologies</p>
                            <p class="ml-2"><i class="pi pi-circle-fill custom-bt-zoom"></i>&nbsp;<b>Assessments:</b> Evaluations through quizzes, tests, scenario-based assignments, and practical exercises to measure learner understanding and progress</p>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
            
        </div>
    </div>
    <div class="flex flex-column justify-content-center col-12 md:col-6">
        <img src="assets/demo/images/landing/content-creation.webp" alt="product" class="border-round w-full">
    </div>
</div>
</div>
<div class="surface-section-1 px-4 py-8 md:px-6 lg:px-8" id="graphic-development">
    <div class="w-full lg:hidden">
        <div class="text-900 font-bold text-3xl">Localization</div>
            <p class="text-600 text-xl mt-2 mb-2 line-height-3">Adapting content, products, and training materials to suit regional languages, cultural nuances, and market preferences, ensuring seamless engagement and relevance for diverse audiences.</p>
            <p class="text-600 text-xl mt-2 mb-5 line-height-3">Our localization service supports multiple languages, ensuring content is linguistically accurate and culturally appropriate for global audiences.</p>
        </div>
        <div class="grid justify-content-center flex-column lg:flex-row">
            <div class="col-12 lg:col-6">
                <img src="assets/demo/images/landing/localization.jpg" alt="product" class="border-round w-full h-full">
            </div>
            <div class="col-12 lg:col-6 lg:pl-4 py-2">
                <div class="w-full hidden lg:block">
                    <div class="text-900 font-bold text-3xl">Localization</div>
                    <p class="text-600 text-xl mt-2 mb-2 line-height-3">Adapting content, products, and training materials to suit regional languages, cultural nuances, and market preferences, ensuring seamless engagement and relevance for diverse audiences.</p>
                    <p class="text-600 text-xl mt-2 mb-5 line-height-3">Our localization service supports multiple languages, ensuring content is linguistically accurate and culturally appropriate for global audiences.</p>
                </div>
                
                <p class="ml-2"><b>Regional Languages</b> </p>                       
                <div class="flex flex-wrap gap-4 justify-content-start mt-1 ml-4">
                    <p-chip label="Sanskrit"></p-chip>
                    <p-chip label="Urudu"></p-chip>
                    <p-chip label="Hindi"></p-chip>
                    <p-chip label="Kannada"></p-chip>
                    <p-chip label="Telugu"></p-chip>
                    <p-chip label="Malayalam"></p-chip>
                    <p-chip label="Tamil"></p-chip>
                    <p-chip label="Bengali"></p-chip>
                    <p-chip label="Assamese"></p-chip>
                    <p-chip label="Marathi"></p-chip>
                    <p-chip label="Gujarati"></p-chip>
                    <p-chip label="Punjabi"></p-chip>
                </div>
                <p class="ml-2 mt-5"><b>International Languages</b> </p>                       
                <div class="flex flex-wrap gap-4 justify-content-start mt-1 ml-4">
                    <p-chip label="French"></p-chip>
                    <p-chip label="German"></p-chip>
                    <p-chip label="Spanish"></p-chip>
                    <p-chip label="Japanese"></p-chip>
                    <p-chip label="Russian"></p-chip>
                    <p-chip label="Arabic"></p-chip>
                    <p-chip label="Portuguese"></p-chip>
                    <p-chip label="Chinese"></p-chip>
                </div>
            </div>
        </div>
    </div>

    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-12 lg:col-6 p-4 flex flex-column">
                <div class="text-900 font-bold text-3xl mt-2">Technology Support</div>
                <p class="text-600 text-xl mt-3 mb-5 line-height-3 text-justify">Tailoring technology solutions, troubleshooting processes, and system optimizations to meet the unique needs of your business, ensuring smooth operations, enhanced performance, and uninterrupted support across all technical aspects.</p>
                <p-accordion expandicon="pi pi-fw pi-plus" collapseicon="pi pi-fw pi-minus" class="p-element">
                    <div role="tablist" class="p-accordion p-component">
                        <p-accordionTab header="Customized IT Solutions" class="p-element ng-tns-c18-167 ng-star-inserted">
                            <p>1. Tailored technology support designed to fit your business goals and technical environment.</p>
                            <p>2. Strategic IT consulting to align your systems and infrastructure with your long-term objectives.</p>
                        </p-accordionTab>
                        <p-accordionTab header="Comprehensive Troubleshooting & Support" class="p-element ng-tns-c18-168 ng-star-inserted">
                            <p>1. Fast response and resolution for any technical issues, ensuring minimal downtime and quick recovery.</p>
                            <p>2. Ongoing technical support to ensure all your systems run smoothly and efficiently.</p>
                        </p-accordionTab>
                        <p-accordionTab header="Cloud Services" class="p-element ng-tns-c18-169 ng-star-inserted">
                            <p>1. Scalable cloud solutions for storage, data management, and remote access to enhance business flexibility.</p>
                            <p>2. Integration and migration services to seamlessly move your operations to the cloud with minimal disruption.</p>
                        </p-accordionTab>
                        <p-accordionTab header="Cybersecurity & Data Protection" class="p-element ng-tns-c18-169 ng-star-inserted">
                            <p>1. Advanced threat detection and prevention to protect your business from cyberattacks and data breaches.</p>
                            <p>2. Regular security audits and compliance management to keep your systems and data safe and up to date.</p>
                        </p-accordionTab>
                    </div>
                </p-accordion>
            </div>
            <div class="flex flex-column justify-content-center lg:col-6 p-4">
                <img src="assets/demo/images/landing/teh-support.webp" alt="product" class="w-full border-round">
            </div>
        </div>
    </div>

    <div class="surface-section-1 px-4 py-8 md:px-6 lg:px-8">
        <div class="w-full lg:hidden">
            <div class="text-900 font-bold text-3xl mt-2">Website Development and Hosting Support</div>
                <p class="text-600 text-xl mt-3 mb-5 line-height-3">Tailoring website development and hosting solutions to meet your unique business needs, ensuring seamless performance, security, and uninterrupted support. Our expert team optimizes systems to enhance your online presence and ensure smooth operations.</p>
        </div>
        <div class="grid justify-content-center flex-column lg:flex-row">
            <div class="flex flex-column justify-content-center col-12 lg:col-6">
                    <img src="assets/demo/images/landing/website.jpg" alt="product" class="border-round w-full">
            </div>
            <div class="col-12 lg:col-6 lg:pl-4 py-4">
                    <div class="w-full hidden lg:block">
                        <div class="text-900 font-bold text-3xl mt-2">Website Development and Hosting Support</div>
                        <p class="text-600 text-xl mt-3 mb-4 line-height-3">Tailoring website development and hosting solutions to meet your unique business needs, ensuring seamless performance, security, and uninterrupted support. Our expert team optimizes systems to enhance your online presence and ensure smooth operations.</p>
                    </div>
                    <div class="flex align-items-center mb-3">
                        <i class="pi pi-check text-blue-600 mr-3" style="color: #15836F !important"></i>
                        <span class="text-900"><b>Managed Hosting</b> - Reliable, secure hosting solutions with 24/7 support, ensuring maximum uptime and optimal performance.</span>
                    </div>
                    <div class="flex align-items-center mb-3">
                        <i class="pi pi-check text-blue-600 mr-3" style="color: #15836F !important"></i>
                        <span class="text-900"><b>Custom Development</b> - Tailored web development solutions designed to meet your unique business needs and deliver a seamless user experience.</span>
                    </div>
                    <div class="flex align-items-center mb-3">
                        <i class="pi pi-check text-blue-600 mr-3" style="color: #15836F !important"></i>
                        <span class="text-900"><b>Wordpress Development</b> - Custom WordPress websites with responsive design, SEO optimization, and easy-to-manage content.</span>
                    </div>
                    <div class="flex align-items-center mb-3">
                        <i class="pi pi-check text-blue-600 mr-3" style="color: #15836F !important"></i>
                        <span class="text-900"><b>Shopify Development</b> - End-to-end Shopify store setup and customization, optimized for seamless online shopping and performance.</span>
                    </div>
                    <div class="flex align-items-center mb-3">
                        <i class="pi pi-check text-blue-600 mr-3" style="color: #15836F !important"></i>
                        <span class="text-900"><b>LMS Platforms</b> - Development of scalable Learning Management Systems with interactive features for effective online training.</span>
                    </div>
            </div>
        </div>
    </div>
        <!-- <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
            <div class="grid">
                <div class="col-12 md:col-6 flex align-items-center"><div>
                    <div class="text-blue-600 text-xl mb-3" style="color: #15836F !important">ALL-IN-ONE</div>
                    <div class="text-900 font-bold text-3xl mt-2 mb-6">Event Campaigns</div>
                    <div class="grid">
                        <div class="col-12 md:col-6">
                            <div class="text-900 font-bold text-xl mb-2">Pre-Planning Phase</div>
                            <div class="text-700 mb-3 line-height-3">We offer tailored consulting, innovative concept development, and meticulous planning to ensure your event aligns with your objectives.</div>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="text-900 font-bold text-xl mb-2">Marketing Strategy Development</div>
                            <div class="text-700 mb-3 line-height-3">We blend creativity with data-driven insights to ensure your message resonates effectively across diverse channels.</div>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="text-900 font-bold text-xl mb-2">Event Preparation</div>
                            <div class="text-700 mb-3 line-height-3">We conduct rehearsals, and coordinates with vendors to ensure every detail is meticulously executed, for a flawless event experience.</div>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="text-900 font-bold text-xl mb-2">Event Execution</div>
                            <div class="text-700 mb-3 line-height-3">We manage logistics and ensure all aspects of the event run smoothly, leaving attendees with a memorable and impactful experience.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6">
                <img src="assets/demo/images/landing/event-campaign.webp" alt="Image" class="border-round w-full">
            </div>
        </div>
    </div>
    <div class="surface-section-1 px-4 py-8 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-12 md:col-6">
                <img src="assets/demo/images/landing/pte-2.jpeg" alt="Image" class="border-round w-full"></div>
                <div class="col-12 md:col-6 md:pl-6">
                    
                    <div class="text-900 font-bold text-3xl mt-2 mb-3">Pearson Test of English (PTE)</div>
                    <div class="text-600 text-xl mt-3 mb-5 line-height-3">We provide content to ensure language proficiency, empowering individuals to demonstrate their language skills for academic, professional, and immigration purposes.</div>
                    <div class="flex align-items-center mb-4">
                        <i class="pi pi-check text-blue-600 mr-3" style="color: #15836F !important"></i>
                        <div>
                            <div class="text-900 font-medium mb-2">Preparation</div>
                        </div>
                    </div>
                    <div class="flex align-items-center mb-4">
                        <i class="pi pi-check text-blue-600 mr-3" style="color: #15836F !important"></i>
                        <div>
                            <div class="text-900 font-medium mb-2">Test Administration</div>
                        </div>
                    </div>
                    <div class="flex align-items-center mb-4">
                        <i class="pi pi-check text-blue-600 mr-3" style="color: #15836F !important"></i>
                        <div>
                            <div class="text-900 font-medium mb-2">Post-Test Procedures</div>
                        </div>
                    </div>
                    <div class="flex align-items-center">
                        <i class="pi pi-check text-blue-600 mr-3" style="color: #15836F !important"></i>
                        <div><div class="text-900 font-medium mb-2">Score Report Delivery</div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="surface-section-2 border-1 border-round surface-border p-5 surface-50 flex flex-column align-items-center">
        <div class="font-medium text-xl mt-5 mb-3">Still Have Questions?</div>
        <button style="background-color: rgb(56,84,154); border-color: rgb(56,84,154); color: white !important" pbutton="" pripple="" label="Contact Us" icon="pi pi-send" class="p-element p-ripple p-button-help p-button p-component" (click)="submitOutput.emit()">
            <span class="p-button-icon p-button-icon-left pi pi-send" aria-hidden="true"></span>
            <span class="p-button-label">Contact Us</span>
            <span class="p-ink"></span>
        </button>
    </div>